


.icon-bob-talk {
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    /*background-image: url('../../dist/images/spritesheets/sprite-base.png');*/
    width: 52px;
    height: 152px;
	animation: bob-talk 0.5s steps(2) infinite;
}

@keyframes bob-talk{
	0% {
        background-position: -146px 0px;
    }
	100% {
        background-position: -250px 0px;
    }
}

.icon-sheffer-walk{
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 56px;
    height: 164px;
	animation: sheffer-walk 0.35s steps(2) infinite;
}

@keyframes sheffer-walk{
	0% {
        background-position: -306px 0px;
    }
	100% {
        background-position: -418px 0px;
    }
}


.icon-sheffer-talk {
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 60px;
    height: 164px;
	animation: sheffer-talk 0.5s steps(2) infinite;
}

@keyframes sheffer-talk{
	0% {
        background-position: -474px 0px;
    }
	100% {
        background-position: -594px 0px;
    }
}


.icon-billy-talk {
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 72px;
    height: 126px;
	animation: billy-talk 0.5s steps(2) infinite;
}

@keyframes billy-talk{
	0% {
        background-position: -986px 0px;
    }
	100% {
        background-position: -1850px 0px;

    }
}



.icon-billy-walk{
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 72px;
    height: 132px;
	animation: billy-walk 0.35s steps(2) infinite;
}

@keyframes billy-walk{
	0% {
        background-position: -1130px 0px;
    }
	100% {
        background-position: -1274px 0px;
    }
}

.icon-billy-fall {
    background-image: url('../images/misc/sprite-base.png');
    background-position: -1346px 0px;
	width: 72px;
	height: 74px;
	animation: billy-fall 0.7s cubic-bezier(.31,.07,.2,.72);
}
@keyframes billy-fall {
		0% {top: 80%;}

		25% {top: 70%;}
		39% {top: 80%;}

		65% {top: 76%;}
		73% {top: 80%;}

		95% {top: 78%;}

		100% {top: 80%;}
}


.icon-randy-walk{
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
	animation: randy-walk 0.35s steps(2) infinite;
}

@keyframes randy-walk{
	0% {
        background-position: -2020px 0px;
        width: 76px;
        height: 150px;
    }
	100% {
        background-position: calc(-986px + 24px) 0px;
        width: 74px;
        height: 150px;
    }
}


.icon-randy-fall {
    background-image: url('../images/misc/sprite-base.png');
    background-position: -1640px 0px;
    width: 76px;
    height: 58px;
	animation: billy-fall 0.7s cubic-bezier(.31,.07,.2,.72);
}
@keyframes billy-fall {
		0% {top: 80%;}

		25% {top: 70%;}
		39% {top: 80%;}

		65% {top: 76%;}
		73% {top: 80%;}

		95% {top: 78%;}

		100% {top: 80%;}
}



.icon-randy-talk{
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 76px;
    height: 150px;
	animation: randy-talk 0.5s steps(2) infinite;
}

@keyframes randy-talk{
	0% {
        background-position: -1792px 0px;
    }
	100% {
        background-position: -1944px 0px;
    }
}



.icon-mark-fall {
    background-image: url('../images/misc/sprite-base.png');
    background-position: -2096px 0px;
    width: 76px;
    height: 54px;
	animation: billy-fall 0.7s cubic-bezier(.31,.07,.2,.72);
}
@keyframes billy-fall {
		0% {top: 80%;}

		25% {top: 70%;}
		39% {top: 80%;}

		65% {top: 76%;}
		73% {top: 80%;}

		95% {top: 78%;}

		100% {top: 80%;}
}



.icon-bob-walk{
    display: inline-block;
    width: 80px;
    height: 150px;
    background-image: url('../images/misc/sprite-base.png');
	animation: bob-walk 0.35s steps(2) infinite;
}

@keyframes bob-walk{
	0% {
        background-position: -2328px 0px;
    }
	100% {
        background-position: calc(-2172px + 4px) 0px;
    }
}


.icon-mark-walk{
    display: inline-block;
    width: 82px;
    height: 146px;
    background-image: url('../images/misc/sprite-base.png');
	animation: mark-walk 0.35s steps(2) infinite;
}

@keyframes mark-walk{
	0% {
        background-position: -2652px 0px;
    }
	100% {
        background-position: -2816px 0px;
    }
}


.icon-mark-talk{
    display: inline-block;
    background-image: url('../images/misc/sprite-base.png');
    width: 82px;
    height: 146px;
	animation: mark-talk 0.5s steps(2) infinite;
}

@keyframes mark-talk{
	0% {
        background-position: -2816px 0px;
    }
	100% {
        background-position: -3144px 0px;
    }
}
