.canvas{
	margin: auto;
	position: fixed;
	width: calc(800px * 0.75 * 1.25);
	height: calc(600px * 0.85 * 1.25);
	overflow: hidden;
	// outline: 1px solid mistyrose;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.canvas-light{
	background-image: url('../images/misc/background-light.png');
}

.canvas-dark{
	background-image: url('../images/misc/background-dark.png');
}

.canvas-red{
	background-image: url('../images/misc/background-red.png');
}

.canvas-white{
	background-color: white;
}

.canvas-foul{
	background-image: url('../images/misc/background-foul.png');
}

.canvas-options{
	background-image: url('../images/misc/main-background.jpeg');
}
