$mainFont: monospace;

.winLose{
	visibility: hidden;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 25%;
	font-size: 20px;
	// font-family: homesteadInline;
	font-family: monospace;
	line-height: 68px;
	text-align: center;

	width: calc(130px * 1.3);
	height: calc(68px * 1.3);
	background: url('../images/misc/neutral.png') no-repeat center center;
	background-size: contain;

}

.blinkBodyPartsScore{
	animation: pulse 0.5s linear;
}

@keyframes pulse{
	0%{
		transform: scale(1);
	}
	20%{
		transform: scale(1.2);
	}
	40%{
		transform: scale(0.8);
	}
	60%{
		transform: scale(1.1);
	}
	80%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}



.prompts{
	position: absolute;
	top: -40%;
	left: -40%;
	font-size: calc(13px * 0.7);
	line-height: 38px;
	text-align: center;
	visibility: hidden;
	font-weight: bold;
	// font-family: homestead;
	font-family: monospace;

	width: calc(116px * 0.7);
	height: calc(68px * 0.7);
	background: url('../images/misc/empty.png') no-repeat center center;
	background-size: contain;
}




.lives{
	position: absolute;
	font-size: 20px;
	left: 40%;
	top: 4.5%;

	// font-family: homestead;
	font-family: monospace;

	color: green;
}


.points {
	position: absolute;
	right: 0%;
	// font-family: homestead;
	font-family: monospace;

	color:green;
	font-size: 20px;
	top: 4.5%;
	right: 5%;
}




.gameTime{
	// font-family: homestead;
	font-family: monospace;

	font-size: 20px;
	color: green;
	position: absolute;
	left: 5%;
	top: 4.5%;
}


.oppEndTimes{
	// font-family: homestead;
	font-family: monospace;

	color: green;
	position: absolute;
	font-size: 20px;
	width:100%;
	bottom:2%;
}

.skillsOptions{
	position: absolute;
	bottom: 1%;
	transform: translate(-50%, 0);
	height: 50px;
}

strike{
	font-size: 20px;
	color: red;
	transition:  color 3s;
}
